# dependencies
node_modules/

# hardhat
backend/artifacts/
backend/cache/
backend/typechain-types/

# next.js
.next/
out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
